extends layout/layout.pug
block content
	//-header
	header.dv-header.fl
		a.dv-header__logo-link.inline-block-core.margin-auto(href="/")
			img.dv-header__logo(src='public/img/fx_logo_header.svg' alt="FXCOINS logo")

	//-video
	section.dv-main__container.container-fluid
		.row
			.container
				.row.dv-main__wrap.clearfix
					.dv-main__video-wrap.col-xs-12.relative-core
						span.dv-main__video-bg-top-left-wrap.absolute-core
							img.dv-main__video-bg-img(src="public/img/video_blot_top_left.png" alt="")
						span.dv-main__video-bg-bottom-left-wrap.absolute-core
							img.dv-main__video-bg-img(src="public/img/video_blot_bottom_left.png" alt="")
						span.dv-main__video-bg-top-right-wrap.absolute-core
							img.dv-main__video-bg-img(src="public/img/video_blot_top_right.png" alt="")
						span.dv-main__video-bg-bottom-right-wrap.absolute-core
							img.dv-main__video-bg-img(src="public/img/video_blot_bottom_right.png" alt="")
						.dv-main__video.relative-core
							iframe.dv-main__video-iframe(src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fdax100%2Fvideos%2F2101800953424772%2F&amp;show_text=0&amp;width=560" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true") 

					.dv-main__description-wrap.relative-core.col-xs-12
						p.dv-main__description.relative-core Тогровля на&nbsp;финансовых рынках является наиболее прибыльным делом. С&nbsp;появлением криптовалют торговать стало намного проще и&nbsp;гораздо прибыльнее. Компания "FXCOINS" предлагает готовые инвестиционные решения для любых целей и&nbsp;потребностей. Вместе с&nbsp;нами&nbsp;Вы сможете зарабатывать как на&nbsp;классических фондовых рынках Америки и&nbsp;Европы, так и&nbsp;на&nbsp;рынках валют и&nbsp;криптовалют.


	//-footer
	include ./include/footer.pug
