<!DOCTYPE html>
html(lang="ru")
	head
		title Самая прибыльная торговля криптовалютой с компанией FXCOINS 
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
		meta(name='keywords', content='Криптоварюты, торговля, рынок, форекс, прибыль, отзывы, Bitcoin, Dash, Litecoin, Ripple, Ethereum')
		meta(name='description', content='Торгуй на международных биржах криптовалютой Bitcoin, Dash, Litecoin, Ripple, Ethereum с компанией FXCOINS, читай отзывы о FXCOINS')
		meta(property='vk:image', content='./public/img/man.png')
		meta(property='og:image', content='./public/img/man.png')
		meta(property='image', content='./public/img/man.png')
		meta(property='vk:Description', content='Торгуй на международных биржах криптовалютой Bitcoin, Dash, Litecoin, Ripple, Ethereum с компанией FXCOINS, читай отзывы о FXCOINS')
		meta(property='og:title', content='Самая прибыльная торговля криптовалютой с компанией FXCOINS')
		meta(property='og:type', content='website')
		meta(property='og:url', content='')
		meta(property='og:Description', content='Торгуй на международных биржах криптовалютой Bitcoin, Dash, Litecoin, Ripple, Ethereum с компанией FXCOINS, читай отзывы о FXCOINS')
		link(rel='alternate', hreflang='ru', href='/')
		link(rel='image_src', href='favicon.png')
		link(rel='shortcut icon', href='favicon.png')
		link(rel='apple-touch-icon', sizes='128x128', href='favicon.png')
		link(rel='apple-touch-icon-precomposed', sizes='128x128', href='favicon.png')
		link(rel='stylesheet', href='https://cdn.report/build/core.min.css')
		link(rel='stylesheet', href='./public/build/build.app.css')
	body
		.container-fluid
			.row
				block content

		script(src="https://cdn.report/build/build.registration.js")
		script(src='./public/build/build.app.js')
		
		script(src="//api.venyoo.ru/wnew.js?wc=venyoo/default/science&widget_id=4837297711349760")
		script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-106745067-7')
		script.
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'UA-106745067-7');
		script.
			(function() {window.kdmEventData = {context: "prelanding", loc: document.location.href, param: "an"};  
				var kdm = document.createElement('script');
				kdm.type = 'text/javascript'; kdm.async = true;
				kdm.src = "//vogo-vogo.ru/analytics.min.js";
				var s = document.getElementsByTagName('script')[0];
				s.parentNode.insertBefore(kdm, s);
			})();
		script(type="application/ld+json").
			{
				"@context": "http://schema.org",
				"@type": "Organization",
				"url": "",
				"logo": "public/img/man.png",
				"email": "support@fxcoins.org",
				"address" : [{
					"@type": "PostalAddress",
					"streetAddress": "Hobusepea tn 10-2 Kesklinna district",
					"addressLocality": "Tallin",
					"addressRegion": "EE",
					"postalCode": 10133
				}],
				"contactPoint": [{
					"@type": "ContactPoint",
					"url": "",
					"telephone": "+441316081193",
					"contactType": "technical support",
					"contactOption": "TollFree",
					"areaServed": [
						"EU",
						"RU"
					],
					"availableLanguage": [
						"English",
						"Russian"
					]
				},
				{
					"@type" : "ContactPoint",
					"url": "",
					"telephone" : "+441316081193",
					"contactType" : "bill payment",
					"contactOption" : "TollFree",
					"areaServed" : ["EU","RU"]
				}],
				"sameAs": [
					"https://www.facebook.com/fxcoins/",
					"https://ok.ru/group/55429814878208",
					"https://www.youtube.com/channel/UCpyoGa3wCZ43uf9Oy08PNTw"
					"https://plus.google.com/u/0/110997687257292023615",
					"https://www.instagram.com/fxcoins"
				]
			}
