
footer.fx-footer
	.fx-footer__bg
	
		.fx-footer__contacts.col-xl-10.col-lg-10.col-md-10.col-sm-12.col-xs-12.col-xl-push-1.col-lg-push-1.col-md-push-1.col-sm-push-0.fl.fl-align-c.fl-justify-c.fl-wrap
			a(href="tel:+441316081193").fx-footer__phone.fx-footer__contacts-item.inline-block-core.relative-core +&nbsp;441&nbsp;316&nbsp;081&nbsp;193
			a(href="/").fx-footer__logo-wrap.inline-block-core.col-lg-3.col-xs-12
				img(src="public/img/fx_logo_footer.svg" alt="logo FXCOINS").fx-footer__logo
			a(href="mailto:support@fxcoins.org").fx-footer__mail.fx-footer__contacts-item.inline-block-core.relative-core support@fxcoins.org
		
		
		.fx-footer__social.col-xl-10.col-lg-10.col-md-10.col-sm-12.col-xs-12.col-xl-push-1.col-lg-push-1.col-md-push-1.col-sm-push-0
			.fx-footer__social-list.fl.fl-justify-b.fl-justify-c
				a(class="fx-footer__social-item fx-footer__social-item-vk" target="_blank" href="https://vk.com/public167730707")
				a(class="fx-footer__social-item fx-footer__social-item-ok" target="_blank" href="https://ok.ru/group/55429814878208")
				a(class="fx-footer__social-item fx-footer__social-item-fb" target="_blank" href="https://www.facebook.com/fxcoins")
				a(class="fx-footer__social-item fx-footer__social-item-gplus" target="_blank" href="https://plus.google.com/u/0/110997687257292023615")
				a(class="fx-footer__social-item fx-footer__social-item-instagram" target="_blank" href="https://www.instagram.com/fxcoins")
				a(class="fx-footer__social-item fx-footer__social-item-yt" target="_blank" href="https://www.youtube.com/channel/UCpyoGa3wCZ43uf9Oy08PNTw")
			

		.fx-footer__warning-part.col-xl-12.col-lg-12.col-md-12.col-sm-12.col-xs-12
			p.fx-footer__warning-text.text__lato-light Торговля валютными парами #[span.fx-nowrap и контрактами] #[span.fx-nowrap на разницу] цен связана #[span.fx-nowrap с риском] потери инвестированного капитала #[span.fx-nowrap в связи] #[span.fx-nowrap с использованием] кредитного плеча. Нажмите
				a(href="/").text__lato-light  уведомление #[span.fx-nowrap о рисках,] 
				| чтобы ознакомиться #[span.fx-nowrap с полным] текстом нашего предупреждения. Информация, содержащаяся #[span.fx-nowrap на данном] веб-сайте #[span.fx-nowrap и в опубликованных] #[span.fx-nowrap на нем] документах, имеет общий характер #[span.fx-nowrap и не учитывает] ваши личные обстоятельства, финансовое положение #[span.fx-nowrap или потребности.] Для того чтобы оценить, #[span.fx-nowrap подходит ли] вам торговля такими финансовыми продуктами, вы должны внимательно ознакомиться #[span.fx-nowrap с нашим]
				a(href="/").text__lato-light  Пользовательским соглашением 
				| #[span.fx-nowrap и получить] #[span.fx-nowrap независимую консультацию.]
							
		.clearfix
