.fx-header
	height 100vh
	min-height 972px
	border-bottom 7px solid #000
	background #ff8502 url(../img/header.png) no-repeat
	background-size cover
	overflow hidden
	@media screen and (max-width: 1366px)
		height auto
		min-height 900px
	@media screen and (max-width: 1200px)
		height auto
		min-height 850px
	@media screen and (max-width: 992px)
		min-height 660px
		border-bottom 4px solid #000
	@media screen and (max-width: 768px)
		min-height 560px
	@media screen and (max-width: 576px)
		min-height auto
		height 1000px
		flex-direction column
		justify-content flex-end
	@media screen and (max-width: 440px)
		height 895px


.fx-header__thought-section
	width 48%
	@media screen and (max-width: 1615px) and (max-height: 905px)
		width 45%
	@media screen and (max-width: 1300px)
		width 52%
	@media screen and (max-width: 1300px) and (max-height: 800px)
		width 48%
	@media screen and (max-width: 1270px) and (max-height: 720px)
		width 48%
	@media screen and (max-width: 1200px)
		width 50%
	@media screen and (max-width: 576px)
		width 100%
		border-bottom 4px solid #000

.fx-header__img-man
	width 88%
	position relative
	left 20%
	@media screen and (max-width: 1930px)
		width initial
		max-width 100%
		transform translateY(14px)
	@media screen and (max-width: 1615px)
		position relative
		left 22%
	@media screen and (max-width: 1500px)
		transform translateY(5px)
		left 12%
	@media screen and (max-width: 1366px)
		position relative
		left 5%
	@media screen and (max-width: 1200px)
		max-width none
		width 520px
		left 2%
	@media screen and (max-width: 992px)
		width 400px
	@media screen and (max-width: 910px)
		width 380px
	@media screen and (max-width: 768px)
		width 320px
		left 10%
	@media screen and (max-width: 690px)
		width 300px
		left 4%
	@media screen and (max-width: 576px)
		position relative
		left 10%
		width 300px
		transform translateY(3px)
	@media screen and (max-width: 520px)
		width 280px
	@media screen and (max-width: 440px)
		width 220px
		left 6%

.fx-header__thought
	width max-content
	bottom 77%
	left 70%
	@media screen and (max-width: 1930px)
		width 56%
		bottom 76%
		left 58%
	@media screen and (max-width: 1680px)
		bottom 78%
		left 63%
	@media screen and (max-width: 1615px) and (max-height: 905px)
		width 57%
		bottom 78%
		left 68%
	@media screen and (max-width: 1600px) and (max-height: 850px)
		bottom 78%
		left 68%
	@media screen and (max-width: 1560px)
		width 57%
		bottom 80%
		left 68%
	@media screen and (max-width: 1530px) and (max-height: 800px)
		bottom 78%
		left 72%
	@media screen and (max-width: 1500px)
		bottom 80%
		left 65%
	@media screen and (max-width: 1366px) and (max-height: 800px)
		width 58%
		bottom 80%
		left 70%
	@media screen and (max-width: 1356px) and (max-height: 800px)
		bottom 80%
		left 68%
	@media screen and (max-width: 1280px) and (max-height: 1024px)
		left 58%
	@media screen and (max-width: 1200px)
		width 310px
		bottom 90%
		left 55%
	@media screen and (max-width: 992px)
		width 270px
		bottom 80%
		left 50%
	@media screen and (max-width: 910px)
		width 250px
		bottom 98%
		left 45%
	@media screen and (max-width: 768px)
		bottom 95%
		left 50%
		width 210px
	@media screen and (max-width: 670px)
		width 205px
	@media screen and (max-width: 690px)
		left 32%
		bottom 100%
		width 200px
	@media screen and (max-width: 576px)
		width 220px
		left 45%
		bottom 77%
	@media screen and (max-width: 520px)
		bottom 76%
	@media screen and (max-width: 440px)
		left 43%
		bottom 77%
		width 180px

.fx-header__img-thought
	max-width 100%

.fx-header__thought-text
	text-transform uppercase
	font-size 32px
	line-height 42px
	color #000
	left 51%
	top 49%
	transform translate(-50%, -50%)
	@media screen and (max-width: 1680px)
		font-size 30px
		font-size 28px
		letter-spacing 3px
		line-height 40px
	@media screen and (max-width: 1585px) and (max-height: 850px)
		letter-spacing 2px
	@media screen and (max-width: 1500px)
		font-size 26px
		line-height 38px
	@media screen and (max-width: 1400px)
		font-size 24px
		line-height 36px
	@media screen and (max-width: 1200px)
		font-size 21px
		line-height 32px
		letter-spacing 1.8px
	@media screen and (max-width: 1100px)
		letter-spacing 1.5px
	@media screen and (max-width: 992px)
		font-size 18px
		line-height 24px
	@media screen and (max-width: 768px)
		font-size 15px
		line-height 20.5px
		margin-top -7px
	@media screen and (max-width: 576px)
		font-size 12.7px
		line-height 17px
		margin-top -5px

.fx-header__reg-section
	width 45%
	height 100%
	@media screen and (max-width: 1200px)
		align-self center
	@media screen and (max-width: 768px)
		width 49%
	@media screen and (max-width: 640px)
		width 46%
	@media screen and (max-width: 576px)
		padding-bottom 50px
		width 100%
		height auto
		padding-top 18px
		align-items flex-start
