.fx-chance
	border-top 7px solid #000
	border-bottom 7px solid #000
	background  #df2727 url(../img/chance_bg.jpg) 50% 50% no-repeat
	background-size cover
	@media screen and (max-width: 992px)
		border-top 5px solid #000
		border-bottom 5px solid #000

.fx-chance__inner
	width 740px
	padding 100px 0
	@media screen and (max-width: 992px)
		padding 97px 0 79px
	@media screen and (max-width: 765px)
		width 100%
	@media screen and (max-width: 576px)
		padding 40px 15px 64px

.fx-chance__chance
	font-size 48px
	line-height 55.3px
	letter-spacing 4.4px
	color #ffe401
	text-transform uppercase
	text-shadow 2px 2px 1px #000, -2px -2px 1px #000, -3px 3px 1px #000, 3px -3px 1px #000
	transform rotate(-5.5deg)
	@media screen and (max-width: 992px)
		font-size 36px
		letter-spacing 3.3px
		margin-bottom 63px
		text-shadow 2px 2px 1px #000, -1px -2px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000
	@media screen and (max-width: 576px)
		font-size 32px
		letter-spacing 2.95px
		margin-bottom 45px

.fx-chance__strategy
	margin 0 auto 32px
	font-size 26px
	line-height 55.3px
	letter-spacing 2.4px
	color #fff
	text-transform uppercase
	text-shadow 2px 2px 1px #000, -2px -2px 1px #000, -3px 3px 1px #000, 3px -3px 1px #000
	@media screen and (max-width: 992px)
		max-width: 680px
		font-size 24px
		line-height 48px
		letter-spacing 2.2px
		margin-bottom 29px
		text-shadow 2px 2px 1px #000, -1px -2px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000
	@media screen and (max-width: 680px)
		width 100%
	@media screen and (max-width: 576px)
		font-size 18px
		line-height 36px
		letter-spacing 1.65px
		margin-bottom 32px

.fx-chance__btn-wrap
	width 345px
	margin 0 auto
	bottom -13px
	@media screen and (max-width: 1300px)
		bottom -25px
	@media screen and (max-width: 992px)
		width 260px
		height 80px
	@media screen and (max-width: 768px)
		width 200px
		height 66px
	@media screen and (max-width: 576px)
		height 60px

.fx-chance__btn
	bottom 0
	height 83px
	&:hover
		animation shake 120ms linear
		animation-iteration-count 3
	@media screen and (max-width: 1300px)
		height 95px
		font-size 22px
		bottom 18px
	@media screen and (max-width: 1100px)
		height 83px
		bottom 17px
	@media screen and (max-width: 992px)
		font-size 18px
		height 72px
		bottom 7px
	@media screen and (max-width: 768px)
		height 68px
		height 64px
		font-size 13.5px
		bottom 8px
	@media screen and (max-width: 576px)
		bottom 10px
