// Collect your style use @import ['header.styl' | 'button.styl' | etc]
@import './vendor/bootstrap.styl'
@import './parts/00constants.styl'
@import './parts/01header.styl'
@import './parts/02form.styl'
@import './parts/03currencies.styl'
@import './parts/04chance.styl'
@import './parts/05footer.styl'
@import './parts/06video.styl'
